*{
    box-sizing: border-box
}

@media (max-height: 2000px){
body{
    margin: 0;
    padding: 0;
    font-family: Wix Madefor Display, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #e6e6e6;
    max-width: 100%;
    max-height: 2000px;
    height: 1380px;

}
}

/*header*/
#header{
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    top: 0;
}

#header-img{
    width: 200px;
    height: 70px;
}

/*main*/
.main{
    margin: 20px;
    padding: 10px;
}

/*nav-bar*/
#header h1, #nav-bar{
    padding-top: 17px;
   
}

#nav-bar li{
    list-style: none;
}

.nav-links{
    display: flex;
}

.nav-link{
   
padding: 5px;
margin: 5px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/*section1*/
.section1 .title{
    text-align: center;
}

.section1 .container{
    display: flex;
}

.section1 #about{
    width: 65%;
}

.form-div{
    width: 400px;
    height: 280px;
    border: 3px solid #b3b3b3;
    background-color:  #404040;
    margin-left: 50px;
    border-radius: 10px 15px 10px 7px;
   
}

#form div{
    padding: 10px;
}

input[type="email"]{
    width: 300px;
    height: 30px;
    
}

input, .form-label{
    margin-left: 30px;
    padding: 20px;
}

input[type="submit"]{
    width: 150px;
    height: 25px;
    font-size: 18px;
    background-color: #808080;
    color: white;
    border-radius: 5px;
   
}

input{
    font-size: 18px;
    border-radius: 7px;
}

/*section2*/
.section2 li{
    list-style: none;
}

.section2 p{
    font-size: 17px;
}

/*section3*/
.section3 iframe{
    align-items: center;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*section4*/
.boxes{
    width: 100%;
    display: flex;
    margin-left: 50px;
}

.box{
    width: 250px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    border: #b3b3b3 3px solid;
border-radius: 5px;
}
.box button{
    background-color: #404040;
    color: white;
}

/*footer*/
footer{
    width: 100%;
    height: 100px;
    background-color: #404040;
    color: white;
    padding: 10px;
    overflow: hidden;
}

footer a{
    color: white;
    padding: 10px;
}

a:hover{
    border-bottom: #808080 2px solid;
}